@{
    ViewBag.Title = "Home Page";
}
@model Cash_Machine.Models.Card

<div class="row">
    <div class="keyboard">
        @using (Html.BeginForm("CardNumber", "Home", FormMethod.Post))
            {
            <form class="keyboard">
                <div id="screen" class="screen">@Html.TextBoxFor(model => model.Number)</div>
                @*<input id="screen" class="screen" type="text" />*@
                <label for="screen">@Html.TextBoxFor(model => model.Id)</label><br/>
                <input class="key" type="button" value="1" onclick="onKeyboardNumberClick(value)" />
                <input class="key" type="button" value="2" onclick="onKeyboardNumberClick(value)" />
                <input class="key" type="button" value="3" onclick="onKeyboardNumberClick(value)" />
                <input class="key" type="button" value="4" onclick="onKeyboardNumberClick(value)" />
                <input class="key" type="button" value="5" onclick="onKeyboardNumberClick(value)" />
                <input class="key" type="button" value="6" onclick="onKeyboardNumberClick(value)" />
                <input class="key" type="button" value="7" onclick="onKeyboardNumberClick(value)" />
                <input class="key" type="button" value="8" onclick="onKeyboardNumberClick(value)" />
                <input class="key" type="button" value="9" onclick="onKeyboardNumberClick(value)" />
                <input class="key" type="button" value="Clear" onclick="onKeyboardClearClick()" />
                <input class="key" type="button" value="0" onclick="onKeyboardNumberClick(value)" />
                <input id="CardNumberOk" class="key" type="submit" value="OK" />
            </form>
        }
    </div>
</div>