@{
    ViewBag.Title = "Error";
}
@model Cash_Machine.Models.Error

<h2>Error occured</h2>
<h3>@Model.Description</h3>

<input type="button" value="Back" onclick="location.href='@Url.Action(Model.PreviousUrl, "Home")'" />
