@model Cash_Machine.Models.Error
@{
    ViewBag.Title = "Error";
}

<h2>Error occured</h2>
<h3>@Model.Description</h3>

<input type="button" class="btn btn-default" value="Back" onclick="location.href='@Url.Action(Model.PreviousUrl, "Home")'" />
