@model Tuple<Cash_Machine.Models.CardOperation, string>
@{
    ViewBag.Title = "Operation result";
}

<br />

<p><b>Card:</b> @Model.Item2</p>
<p><b>Date of operation:</b> @Model.Item1.Date.ToLocalTime()</p>
<p><b>Taken money:</b> $@Model.Item1.Amount</p>
<p><b>Balance:</b> $@Model.Item1.Balance</p>

<input type="button" class="btn btn-default" value="Back" onclick="location.href='@Url.Action("Operations", "Home")'" />
<input type="button" class="btn btn-danger" value="Exit" onclick="location.href='@Url.Action("CardNumber", "Home")'" />
